.about {
  background-color: #0a2850;
  display: flex;
  z-index: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about__title {
  display: flex;
  justify-content: flex-start;
  margin: 100px 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 251px;
  z-index: 1;
}

.about__content {
  margin: 119px 80px 173px 0;
  color: #fff;
  max-width: 660px;
}

.about__paragraph {
  gap: 20px;
  max-width: 660px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
}

.about__paragraph__last-child {
  margin-bottom: 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  border-radius: 50%;
  background-color: #2f80ed;
  display: flex;
  top: -152px;
  left: -129px;
  z-index: 0;
  position: absolute;
}

.about__circle_animation_blurred {
  animation: pulsate-circle 1.3s 0s infinite;
}

@keyframes pulsate-circle {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.6;
  }

  100% {
    opacity: 0;
    transform: scale(1.2);
  }
}
