.menu__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.card {
  width: 540px;
}

.card__title {
  padding-bottom: 32px;
  font-family: "inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  color: #000;
  margin: 0 auto;
  list-style-type: none;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  width: 520px;
  gap: 16px;
  display: flex;
  margin-bottom: 16px;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  border-bottom: 1px solid #000;
  flex-grow: 1;
}
