.reservation__form {
  margin: 0 auto;
  margin-bottom: 120px;
  max-width: 385px;
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form {
  max-width: 385px;
  margin: auto;
}

.reservation__fieldset {
  flex-wrap: wrap;
  width: 385px;
  display: flex;
  padding: 0;
  border: none;
}

.reservation__label {
  margin-bottom: 8px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.reservation__input {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-color: #838383;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  box-sizing: border-box;
}

.reservation__input reservation__input_date-time {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin-bottom: 32px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #000;
}

.reservation__button {
  border-radius: 4px;
  height: 60px;
  width: 385px;
  margin: 0 0 32px;
  padding: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  opacity: 0.7;
  transition: opacity 0.4s ease-in-out;
  background-color: #2f80ed;
  color: #ffffff;
}

.reservation__button:hover {
  opacity: 1;
}

.reservation__checkbox {
  display: flex;
}

.reservation__checkbox-checkbox {
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  height: 20px;
  width: 20px;
  margin-right: 12px;
  margin-left: 65px;
}
