.reservation {
  background-image: url(../images/background_reservation.svg);
  background-size: cover;
  background-color: #d9e7ff;
  padding: 100px 0 120px;
  margin: 0 auto;
}

.reservation__title {
  margin: 0 auto 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}
